services:

  version: "3.8"

  services:
    db:
      image: postgres:15
      container_name: pg_test
      restart: unless-stopped
      environment:
        POSTGRES_USER: testuser
        POSTGRES_PASSWORD: testpass
        POSTGRES_DB: testdb
      ports:
        - "5432:5432"
      volumes:
        - pgdata:/var/lib/postgresql/data
      healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U testuser" ]
        interval: 10s
        timeout: 5s
        retries: 5

  volumes:
    pgdata:
